---
import Layout from "../layouts/Layout.astro";

import About from "../components/About.tsx";
import Proyectos from "../components/Proyectos.astro";
import Estudios from "../components/Estudios.js";
import Contacto from "../components/Contacto.astro";
import Trabajo from "@/components/Trabajo.tsx";
---

<Layout>
  <main
    class="w-full h-screen overflow-y-scroll scroll-smooth snap-y snap-mandatory"
  >
    <About />

    <Estudios />

    <Trabajo />

    <Proyectos />
    <Contacto />
  </main>
</Layout>
