---
import Layout from '../layouts/Layout.astro';

import About from '../components/About.astro';
import Proyectos from '../components/Proyectos.astro'
import Estudios from '../components/Estudios.astro'
import Contacto from '../components/Contacto.astro'
---

<Layout>
	<main class="w-full">
		<About/>
		
		<Proyectos/>
	
		<Estudios/>

		<Contacto/>
		
	</main>
</Layout>
