---


---

<div class="main">
    <div>
        Datos del Portfolio
    </div>
</div>

<style>
    .main{
        display: flex;
        width: 70dvw;
        height: 100dvh;
        border:1px red solid;
        justify-content: center;
        align-items: center;        
    }
</style>