---
import { Button } from "@/components/ui/button";
---

<<<<<<< HEAD
---

=======
>>>>>>> 4b03c521271be48f79b2c3f7691f944126c2d314
<aside
  class="flex max-w-[400px] min-w-[200px] w-1/3 h-[100dvh] justify-center items-center p-2"
>
  <div class="fixed m-auto text-center">
<<<<<<< HEAD
    <img src="../src/img/FotoPerfil.webp" transition:name="img_perfil" />
    <nav class="flex flex-col">
      <a href="#about">Sobre Mí</a>
      <a href="#proyectos">Proyectos</a>
      <a href="#estudios">Estudios</a>
      <a href="#contacto">Contacto</a>
=======
    <img src="../src/img/FotoPerfil.webp" />
    <nav class="flex flex-col">
      <Button variant="link">
        <a href="#about">Sobre Mí</a>
      </Button>
      <Button variant="link">
        <a href="#proyectos">Proyectos</a>
      </Button>
      <Button variant="link">
        <a href="#estudios">Estudios</a>
      </Button>
      <Button variant="link">
        <a href="#contacto">Contacto</a>
      </Button>
>>>>>>> 4b03c521271be48f79b2c3f7691f944126c2d314
    </nav>
  </div>
</aside>
