---

---

<aside class="">
    <div>Imagen</div>
    <nav>
        <a>Sobre Mí</a>
        <a>Estudios</a>
        <a>Proyectos</a>
        <a>Contacto</a>
    </nav>
</aside>

<style>
    aside{
        display: flex;
        flex-direction: column;
        width: 20dvw;
        height: 100dvh;
        justify-content: center;
        align-items: center;
        color:#ccd5ae;

    }

    nav{
        display: flex;
        flex-direction: column;
    }
</style>